@use "sass:map";
@use 'sass:color';

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-family: "Inter", sans-serif;
$monospace-font-family: "Fira Code", monospace;
$header-font-family: "Inter", sans-serif;

$colors: (
        bs-menu-link-color: #24292e,
        bs-link-hover: #0366d6,
        bs-border-color: #e1e4e8,
        bs-border-color-light: #f6f8fa,
        scrollbar-track: #f1f3f5,
        scrollbar-thumb: #d1d5da,
        scrollbar-thumb-hover: #6a737d,
        dropdown-hover-bg: #f0f0f0,
        header1: $blue-300,
        header1-border: $blue-400,
        header2: $pink-300,
        header2-border: $pink-400,
        header3: $yellow-300,
        header3-border: $yellow-400,
        header4: $green-300,
        header4-border: $green-400,
        header5: $purple-300,
        header5-border: $purple-400,
        bs-purple: $purple-300,
        bs-teal: $teal-300,
        darkrp-job-red: $red-400,
        darkrp-job-red-border: $red-600,
        darkrp-job-blue: $blue-400,
        darkrp-job-blue-border: $blue-600,
        darkrp-job-green: $green-400,
        darkrp-job-green-border: $green-600,
        darkrp-job-gray: $gray-400,
        darkrp-job-gray-border: $gray-600,
);

$dark-colors: (
        bs-body-bg: #1a1b1f,
        bs-color-bg: #FFFFFFC0,
        bs-menu-link-color: #cdd9e5,
        bs-link-hover: #539bf5,
        bs-border-color: #373e47,
        bs-border-color-light: #2f363d,
        scrollbar-track: #2b3036,
        scrollbar-thumb: #636e7b,
        scrollbar-thumb-hover: #768390,
        dropdown-hover-bg: #1b1f24,
        header1: $blue-500,
        header1-border: $blue-600,
        header2: $pink-500,
        header2-border: $pink-600,
        header3: $yellow-500,
        header3-border: $yellow-600,
        header4: $green-500,
        header4-border: $green-600,
        header5: $purple-500,
        header5-border: $purple-600,
        bs-purple: $purple-500,
        bs-teal: $teal-500,
        darkrp-job-red: $red-600,
        darkrp-job-red-border: $red-400,
        darkrp-job-blue: $blue-600,
        darkrp-job-blue-border: $blue-400,
        darkrp-job-green: $green-600,
        darkrp-job-green-border: $green-400,
        darkrp-job-gray: $gray-600,
        darkrp-job-gray-border: $gray-400,
);

$jobColors: (
        "darkrpgenel": (var(--darkrp-job-gray), var(--darkrp-job-gray-border)),
        "darkrplegal": (var(--darkrp-job-blue), var(--darkrp-job-blue-border)),
        "darkrpesnaf": (var(--darkrp-job-green), var(--darkrp-job-green-border)),
        "darkrpillegal": (var(--darkrp-job-red), var(--darkrp-job-red-border)),
        "tttdedektif": (var(--darkrp-job-blue), var(--darkrp-job-blue-border)),
        "tttmasum": (var(--darkrp-job-green), var(--darkrp-job-green-border)),
        "ttthain": (var(--darkrp-job-red), var(--darkrp-job-red-border))
);

@mixin heading-color($level) {
  color: var(--header#{$level});
  border-bottom: 1px solid var(--header#{$level}-border);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

@function get-font-family($type: null) {
  @if $type == "code" {
    @return $monospace-font-family;
  } @else if $type == "header" {
    @return $header-font-family;
  } @else {
    @return $font-family;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

:root {
  @each $name, $value in $colors {
    --#{$name}: #{$value};
    --#{$name}-rgb: rgb(red(#{$value}), green(#{$value}), blue(#{$value}));
  }
}

[data-bs-theme="dark"] {
  @each $name, $value in $dark-colors {
    --#{$name}: #{$value};
    --#{$name}-rgb: rgb(red(#{$value}), green(#{$value}), blue(#{$value}));
  }
}

.text-purple {
  color: var(--bs-purple) !important;

  &.show {
    color: var(--bs-purple) !important;
  }
}

.text-teal {
  color: var(--bs-teal) !important;

  &.show {
    color: var(--bs-teal) !important;
  }
}

body {
  font-family: get-font-family();
}

nav {
  margin-bottom: 0.5% !important;
}

p, li, span, blockquote, ul, ol, table, th, td {
  color: var(--bs-secondary-color);

  .accordion-button &,
  .alert &,
  .category-item & {
    color: inherit;
  }

}

#chatTabsContent, #tusUL {
  strong, b {
    color: var(--bs-light);
  }
  .key {
    margin-right: 2px;
  }
}

code, pre {
  font-family: get-font-family("code");
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--bs-code-color);
  font-size: .875em;
  word-wrap: break-word;
}

pre {
  padding: 15px;
  overflow-x: auto;
  border: 1px solid var(--scrollbar-thumb-hover);
}

#mainmenu {
  margin: 0.2%;
  border-bottom: 2px solid var(--bs-border-color);
}

.category-item {
  margin-bottom: 0.5rem;
  border-top: 10px solid transparent;
  border-bottom: 1px solid var(--bs-border-color);
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

#left-menu {
  font-size: 10pt;

  .nav-item, .nav-link, .dropdown-wrapper {
    height: 100%;
    width: 100%;
  }

  .nav-link-container:hover, .dropdown-item-container:hover {
    background-color: var(--dropdown-hover-bg);
  }
}

#left-sidebar,
#right-sidebar {
  height: 100vh;
  position: sticky;
  top: 5%;
  overflow-y: auto;

  &::after {
    content: "";
    display: block;
    height: 50px;
  }
}

#mobileBookmarks .nav-link,
#right-sidebar .nav-link,
#left-sidebar .nav-link {
  color: var(--bs-menu-link-color);
}

#mobileBookmarks .nav-link.active,
#top-menu .nav-link.active,
#right-sidebar .nav-link.active,
#left-sidebar .nav-link.active {
  color: var(--bs-link-hover-color);
  font-weight: bold;
}

.dropdown-item-container .nav-link {
  border-left: 4px solid var(--scrollbar-thumb);
  padding-left: 10px;

  &.active {
    border-left-color: var(--bs-link-hover-color);
  }
}

#right-sidebar {
  .nav-link {
    font-size: 10pt;

    &.active {
      border-left-color: var(--bs-link-hover-color);
    }
  }
}

.left-menu {
  .dropdown-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--bs-menu-link-color);
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &.collapsed::after {
      transform: rotate(180deg);
    }
  }

  .nav-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
  }
}


#darkrplegal-d .nav-link {
  border-left-color: $blue-600;

  &.active {
    border-left-color: $blue-800;
  }
}

#darkrpesnaf-d .nav-link {
  border-left-color: $green-600;

  &.active {
    border-left-color: $green-800;
  }
}


#darkrpillegal-d .nav-link {
  border-left-color: $red-600;

  &.active {
    border-left-color: $red-800;
  }
}


.nav-link-container {
  margin-bottom: 1%;
  position: relative;
  width: 100%;
}

.dropdown-menu-container {
  display: none;
  width: 100%;
  border: 1px solid var(--bs-border-color);
  padding: 0;
  list-style-type: none;
}

.dropdown-item-container {
  padding: 10px 15px;
  border-bottom: 1px solid var(--bs-border-color-light);
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}

.item-container {
  display: none;

  &.show {
    display: block;
  }
}

.content-ref-box {
  border: 1px solid var(--bs-border-color-light);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--bs-link-hover);
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }

}

.key {
  display: inline-block;
  padding: 2px 10px;
  border: 2px solid var(--bs-light);
  border-radius: 4px;
  background-color: var(--bs-gray-600);
  font-weight: bold;
color: var(--bs-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 12px;
}

.content {
  @for $i from 1 through 5 {
    h#{$i}.standartcolor {
      @if $i == 1 or $i == 2 {
        font-family: get-font-family("header");
      }
      @include heading-color($i);
    }
  }

  @each $key, $colors in $jobColors {
    @for $i from 1 through 5 {
      h#{$i}.#{$key} {
        color: nth($colors, 2);
        border-bottom: 1px solid nth($colors, 1);
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    .#{$key} {
      color: nth($colors, 1);

      &.active {
        color: nth($colors, 2);
      }
    }
    .nav-link.#{$key}:hover {
      color: nth($colors, 2);
    }
  }

  .mg {
    color: var(--bs-secondary-color);
    border-bottom: 1px solid var(--bs-secondary-bg);
    padding-bottom: 0.5rem;
  }
}

.alert {
  word-break: break-word;
}

.nullcontent {
  display: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-secondary-text);
}

#cardContainer .card {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

#cardContainer .card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--bs-success-text-emphasis);
}

#cardContainer .card:hover img {
  filter: brightness(0.8);
}

.rounded-button {
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.highlighted {
  background-color: var(--bs-warning-border-subtle);
  color: var(--bs-light-text-emphasis);
}

@media (max-width: 767px) {
  #mobileBookmarks {
    display: block;
  }

  #left-sidebar {
    display: none;
  }

  .navbar-nav {
    display: flex;
  }

  #mainmenu {
    margin: 0;
  }

  .category-item {
    padding: 7px 12px;
    text-align: inherit;
    margin: 0.5rem;
    font-style: italic;
  }

  .dropdown-menu-container {
    position: static;
    width: 100%;
    padding: 0;
  }

  .item-container {
    position: static;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid var(--bs-border-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    [data-bs-theme="dark"] & {
      background-color: #2b2b2b;
      border: 1px solid #444444;
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    }
  }

  .dropdown-item-container {
    padding: 5px 10px;
    border-bottom: 0;
  }

  .mobile-content {
    display: block;
  }
  .mobile-no-margin {
    margin: 0;
  }

  .desktop-content {
    display: none;
  }
  .content {
    .nav-tabs {
      overflow-x: auto;
      white-space: nowrap;
    }

    .nav-item {
      display: inline-block;
    }

    .nav-link {
      min-width: 10%;
      margin-right: 10px;
    }

  }
}

@media (min-width: 768px) {
  #mobileBookmarks {
    display: none;
  }

  #left-sidebar {
    display: block;
  }

  #mainmenu img {
    margin-left: 1.50%;
  }

  .navbar-nav {
    display: none;
  }

  .mobile-content {
    display: none;
  }

  .desktop-content {
    display: block;
  }
}




