@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bs-menu-link-color: #24292e;
    --bs-link-hover-color: #0366d6;
    --bs-link-hover-color-rgb: rgb(3, 102, 214);
    --bs-border-color: #e1e4e8;
    --bs-border-color-rgb: rgb(225, 228, 232);
    --bs-border-color-light: #f6f8fa;
    --bs-border-color-light-rgb: rgb(246, 248, 250);
    --scrollbar-track: #f1f3f5;
    --scrollbar-track-rgb: rgb(241, 243, 245);
    --scrollbar-thumb: #d1d5da;
    --scrollbar-thumb-rgb: rgb(209, 213, 218);
    --scrollbar-thumb-hover: #6a737d;
    --scrollbar-thumb-hover-rgb: rgb(106, 115, 125);
    --dropdown-hover-bg: #f0f0f0;
    --dropdown-hover-bg-rgb: rgb(240, 240, 240);
}

[data-bs-theme="dark"] {
    --bs-body-bg: #1a1b1f;
    --bs-body-bg-rgb: rgb(26, 27, 31);
    --bs-color-bg: #FFFFFFC0;
    --bs-color-rgb: rgba(255, 255, 255, .75);
    --bs-menu-link-color: #cdd9e5;
    --bs-menu-link-color-rgb: rgb(205, 217, 229);
    --bs-link-hover-color: #539bf5;
    --bs-link-hover-color-rgb: rgb(83, 155, 245);
    --bs-border-color: #373e47;
    --bs-border-color-rgb: rgb(55, 62, 71);
    --bs-border-color-light: #2f363d;
    --bs-border-color-light-rgb: rgb(47, 54, 61);
    --scrollbar-track: #2b3036;
    --scrollbar-track-rgb: rgb(43, 48, 54);
    --scrollbar-thumb: #636e7b;
    --scrollbar-thumb-rgb: rgb(99, 110, 123);
    --scrollbar-thumb-hover: #768390;
    --scrollbar-thumb-hover-rgb: rgb(118, 131, 144);
    --dropdown-hover-bg: #1b1f24;
    --dropdown-hover-bg-rgb: rgb(27, 31, 36);
    --header1: #3B82F6;
    --header1-rgb: rgb(59, 130, 246);
    --header2: #10B981;
    --header2-rgb: rgb(16, 185, 129);
    --header3: #FCA5A1;
    --header3-rgb: rgb(252, 165, 161);
    --header4: #A78BFA;
    --header4-rgb: rgb(167, 139, 250);
    --header5: #FB923C;
    --header5-rgb: rgb(251, 146, 60);
}

[data-bs-theme="light"] {
    --bs-menu-link-color: #24292e;
    --bs-menu-link-color-rgb: rgb(36, 41, 46);
    --bs-link-hover-color: #0366d6;
    --bs-link-hover-color-rgb: rgb(3, 102, 214);
    --bs-border-color: #e1e4e8;
    --bs-border-color-rgb: rgb(225, 228, 232);
    --bs-border-color-light: #f6f8fa;
    --bs-border-color-light-rgb: rgb(246, 248, 250);
    --scrollbar-track: #f1f3f5;
    --scrollbar-track-rgb: rgb(241, 243, 245);
    --scrollbar-thumb: #d1d5da;
    --scrollbar-thumb-rgb: rgb(209, 213, 218);
    --scrollbar-thumb-hover: #6a737d;
    --scrollbar-thumb-hover-rgb: rgb(106, 115, 125);
    --dropdown-hover-bg: #f0f0f0;
    --dropdown-hover-bg-rgb: rgb(240, 240, 240);
    --header1: #3B82F6;
    --header1-rgb: rgb(59, 130, 246);
    --header2: #10B981;
    --header2-rgb: rgb(16, 185, 129);
    --header3: #F87171;
    --header3-rgb: rgb(248, 113, 113);
    --header4: #A855F7;
    --header4-rgb: rgb(168, 85, 247);
    --header5: #FB923C;
    --header5-rgb: rgb(251, 146, 60);
}

body {
    font-family: "Inter", sans-serif;
}

nav {
    margin-bottom: 0.5% !important;
}

.category-item {
    margin-bottom: 0.5rem;
    border-top: 10px solid transparent;
    border-bottom: 1px solid var(--bs-border-color);
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

#left-menu {
    font-size: 10pt;
}

#mainmenu {
    margin: 0.2%;
    border-bottom: 2px solid var(--bs-border-color);
}

#left-sidebar,
#right-sidebar {
    height: 100vh;
    position: sticky;
    top: 5%;
    overflow-y: auto;
}

#left-sidebar::after,
#right-sidebar::after {
    content: "";
    display: block;
    height: 50px;
}

#mobileBookmarks .nav-link,
#right-sidebar .nav-link,
#left-sidebar .nav-link {
    color: var(--bs-menu-link-color);
}

#mobileBookmarks .nav-link.active,
#top-menu .nav-link.active,
#right-sidebar .nav-link.active,
#left-sidebar .nav-link.active {
    color: var(--bs-link-hover-color);
    font-weight: bold;
}

#right-sidebar .nav-link,
.dropdown-item-container .nav-link {
    border-left: 4px solid var(--scrollbar-thumb);
    padding-left: 10px;
}

#right-sidebar .nav-link.active,
.dropdown-item-container .nav-link.active {
    border-left-color: var(--bs-link-hover-color);
}

#darkrplegal-d .nav-link {
    border-left-color: blue;
}

#darkrpesnaf-d .nav-link {
    border-left-color: green;
}

#darkrpillegal-d .nav-link {
    border-left-color: red;
}


.left-menu .dropdown-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--bs-menu-link-color);
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.left-menu .dropdown-toggle-btn.collapsed::after {
    transform: rotate(180deg);
}

.left-menu .nav-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
}

.nav-link-container {
    margin-bottom: 1%;
    position: relative;
    width: 100%;
}

.dropdown-menu-container {
    display: none;
    width: 100%;
    border: 1px solid var(--bs-border-color);
    padding: 0;
    list-style-type: none;
}

.dropdown-item-container {
    padding: 10px 15px;
    border-bottom: 1px solid var(--bs-border-color-light);
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
}

.item-container {
    display: none;
}

.item-container.show {
    display: block;
}

#left-menu .nav-item,
#left-menu .nav-link,
#left-menu .dropdown-wrapper {
    height: 100%;
    width: 100%;
}

#left-menu .nav-link-container:hover,
#left-menu .dropdown-item-container:hover {
    background-color: var(--dropdown-hover-bg);
}

.content-ref-box {
    border: 1px solid var(--bs-border-color-light);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    transition: border-color 0.3s ease;
}

.content-ref-box:hover {
    border-color: var(--bs-menu-link-color);
}

.content-ref-box a {
    text-decoration: none;
    color: inherit;
}

.content-ref-box a:hover {
    color: var(--bs-link-hover-color);
}

.content h1 {
    color: var(--header1);
}

.content h2 {
    color: var(--header2);
}

.content h3 {
    color: var(--header3);
}

.content h4 {
    color: var(--header4);
}

.content h5 {
    color: var(--header5);
}

.size-1 {
    font-size: 18px;
}

.size-2 {
    font-size: 16px;
}

.size-3 {
    font-size: 14px;
}

.size-4 {
    font-size: 12px;
}

.size-5 {
    font-size: 10px;
}

.nullcontent {
    display: none;
}

main .img-fluid img {
    max-width: 100%;
    height: auto;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-secondary-text);
}
code, pre {
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--bs-code-color);
    font-size: .875em;
    word-wrap: break-word;
}

pre {
    padding: 15px;
    overflow-x: auto;
    border: 1px solid var(--scrollbar-thumb-hover);
}

#cardContainer .card {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#cardContainer .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid var(--bs-success-text-emphasis);
}

#cardContainer .card:hover img {
    filter: brightness(0.8);
}
.rounded-button {
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}


@media (max-width: 767px) {
    #mobileBookmarks {
        display: block;
    }

    #left-sidebar {
        display: none;
    }

    .navbar-nav {
        display: flex;
    }

    #mainmenu {
        margin: 0;
    }
    .category-item {
        padding: 7px 12px;
        text-align: inherit;
        margin: 0.5rem;
        font-style: italic;
    }

    .dropdown-menu-container {
        position: static;
        width: 100%;
        padding: 0;
    }

    .item-container {
        position: static;
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid var(--bs-border-color);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

        [data-bs-theme="dark"] & {
            background-color: #2b2b2b;
            border: 1px solid #444444;
            box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
        }
    }

    .dropdown-item-container {
        padding: 5px 10px;
        border-bottom: 0;
    }

    .mobile-content {
        display: block;
    }
    .desktop-content {
        display: none;
    }
}

@media (min-width: 768px) {
    #mobileBookmarks {
        display: none;
    }

    #left-sidebar {
        display: block;
    }

    #mainmenu img {
        margin-left: 1.50%;
    }

    .navbar-nav {
        display: none;
    }
    .mobile-content {
        display: none;
    }
    .desktop-content {
        display: block;
    }
}