
Warning: Undefined variable $darkRPContent in /app/src/layouts/darkrp-ttt.sss1.php on line 2

Warning: Undefined variable $tttContent in /app/src/layouts/darkrp-ttt.sss1.php on line 4

<div>
    <h3 class="standartcolor" id="adminyok"><b>Oyunda yetkili yok ve oyuncudan şikayetçiyim. Ne yapmalıyım?</b></h3>
    <p>Gerekli delilleri toplıyarak MoonGaming™ Discord sunucusuna gelip ticket açmanız gerekmektedir.</p>
</div>
<br>
<div>
    <h3 class="standartcolor" id="kanit"><b>Video kaydım var, nereye yüklemeliyim?</b></h3>
    <div class="row">
        <div class="alert alert-danger">
            <span>Fotoğraf çoğu durumda yeterli olmamaktadır.</span>
        </div>
        <div class="col-md-4">
            <ul style="list-style-type: '- ">
                <li><a href="https://youtube.com" target="_blank">Youtube</a> <b class="text-danger-emphasis">[Video
                        için]</b></li>
                <li><a href="https://streamable.com" target="_blank">Streamable</a> <b class="text-danger-emphasis">[Video
                        için]</b></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul style="list-style-type: '* ">
                <li><a href="https://imgur.com/" target="_blank">Imgur</a> <b class="text-success-emphasis">[Fotoğraf
                        için]</b></li>
                <li><a href="https://hizliresim.com/" target="_blank">Hızlı Resim</a> <b class="text-success-emphasis">[Fotoğraf
                        için]</b></li>
            </ul>
        </div>
        <p>Platformlarını kullanabilirsiniz.</p>

    </div>
</div>
<br>
<div>
    <h3 class="standartcolor" id="bantemyiz"><b>Sunucudan uzaklaştırıldım, nasıl itiraz edebilirim?</b></h3>
    <p>MoonGaming™ Discord sunucusuna gelip ticket açmanız gerekmektedir.</p>
</div>
<br>
<div>
    <h2 class="standartcolor" id="basvuru">Başvurular</h2>
    <p>Oyun içerisinde başvurabilceğin alanlar bu kısımda yer almaktadır.</p>
    <div>
        <h3 class="standartcolor" id="admin"><b>Yetkili nasıl olabilirim?</b></h3>
        <p>Yetkili olabilmek için <a href="
Warning: Undefined variable $AdminBasvuru in /app/src/layouts/darkrp-ttt.sss1.php on line 51
" target="_blank">başvuru</a>
            yapmanız gerekmektedir. Başvurunuz olumlu sonuçlanırsa geri dönüş yapılacaktır.</p>

        <h4 class="standartcolor"><b>Red edildiğimi nereden öğrenebilirim?</b></h4>
        <p>Başvuru sayısı fazla olduğundan dolayı maalesef red edilenlere dönüş yapılmamaktadır. 1 hafta
            içinde
            dönüş yapılmazsa başvurunuz red edilmiştir.</p>
    </div>
    
Warning: Undefined variable $darkRPContent in /app/src/layouts/darkrp-ttt.sss1.php on line 59
</div>
