<main class="col-md-6 ms-sm-auto col-lg-8 px-md-4">
    <div class="content pt-3">
        <div class="content pt-3">
            <h1 class="darkrpesnaf" style="">Esnaf ve Siviller</h1>
            <p>Esnaf meslekleri sunucumuzda önemlidir. Çünkü sattıkları ve sundukları hizmet çoğu
                oyuncu için önemlidir şimdi Esnaf ve Siviller hakkında temel bilgileri öğrenelim.</p>
            <div>
                <h2 class="standartcolor" id="meslek">Meslekler</h2>
                <div class="accordion" id="accordionJobs">
                    
Warning: Undefined variable $esnafJobs in /app/src/layouts/darkrp-kariyer.esnaf.php on line 10

Warning: foreach() argument must be of type array|object, null given in /app/src/layouts/darkrp-kariyer.esnaf.php on line 10
                </div>
            </div>
            <br>
            <div>
                <h2 class="standartcolor" id="yiyecekveicecek">1. Yiyecek ve İçecek Sektörü</h2>
                <br>
                <p>Tüm esnaf mesleklerinde olduğu gibi, yiyecek ve içecek satışı yapabilmeniz ve rolünüzü
                    gerçekleştirebilmeniz için bir standınız ya da bir dükkanınız olması gerekiyor. Şehirdeki
                    boş
                    dükkanları kiralayabilir veya Duvar Sokağı'nda kendi standınızı inşa edebilirsiniz. Dükkan
                    kiralamış olsanız bile, iç mekanını tamamen kendi zevkinize göre dekore edebilir ve böylece
                    rolünüzü daha gerçekçi bir hale getirebilirsiniz. İyi dekore edilmiş bir mekan, müşterilerin
                    ilgisini çeker ve rol yapma deneyiminizi zenginleştirir.</p>

                <p>Yiyecek ve içecek sektöründeki esnaflar, oyuncuların açlık ve susuzluk ihtiyaçlarını
                    karşılamak
                    için zorunlu olarak etkileşime girdiği mesleklerdir. Oyunda, belirli aralıklarla açlık ve
                    susuzluk ihtiyacını gidermek gerektiğinden, bu meslekler rol yapmaya oldukça elverişli bir
                    yapıya sahiptir. Bu esnaflar, hem hayatta kalmak için önemli bir hizmet sunar hem de
                    oyuncularla
                    sürekli iletişim halinde kalarak şehir yaşamına canlılık katar.</p>

                <h3 class="standartcolor" id="yiyecekveicecek-meslekler">Meslekler</h3>

                <div class="row">
                    <div class="col-md-6">
                        <ul class="mobile-no-margin" style="list-style-type: '- '">
                            <li>Çiğ Köfte Salonu Sahibi</li>
                            <li>İtalyan Restoranı Sahibi</li>
                            <li>Simitçi</li>
                            <li>Tavuk Pilavcı</li>
                            <li>Kebapçı</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="mobile-no-margin" style="list-style-type: '- '">
                            <li>Kafe Sahibi</li>
                            <li>Hamburgerci</li>
                            <li>Dönerci</li>
                            <li>Dondurmacı</li>
                            <li>Tekel Bayi Sahibi</li>
                        </ul>
                    </div>

                </div>
                <br>
                <h3 class="standartcolor" id="yiyecekveicecek-meslek-urunleri">Meslek Ürünleri</h3>
                <p>İlgili mesleğin malzemelerine erişmek için <span class='key'>F4</span> tuşuna basarak açılan menüden Tezgahlar
                    sekmesine
                    girebilirsiniz. Her esnafın kendine özgü tezgahları ve malzemeleri bu sekmede bulunur.
                    Örneğin,
                    bir Çiğ Köfte Salonu Sahibi iseniz, işinizi yürütmek için bir adet çiğ köfte tezgahına sahip
                    olmanız gerekmektedir. Bu tezgahlar, hem ürünlerinizi hazırlamak hem de satış yapmak için
                    gereklidir.</p>
                <br>
                <h3 class="standartcolor" id="yiyecekveicecek-fiyatlandirma">Fiyatlandırma</h3>
                <p>Yiyecek ve içecek sektöründe fiyatlandırma abartılı olmamalıdır. Unutmayın, bu meslek grubu
                    temel
                    olarak rol yapma deneyimi için vardır. Oyuncular, rolünüzden keyif aldıklarında genellikle
                    cömert davranır ve size fazlasıyla yüklü miktarda ödeme yapabilirler. Bu yüzden, aşırı
                    fiyatlandırmadan kaçının ve rol yapmayı ön planda tutun. Hem gerçekçi fiyatlar belirlemek
                    hem de
                    rol yaparak oyunun tadını çıkarmak en iyi stratejidir.</p>
            </div>
            <br>
            <div>
                <h2 class="standartcolor" id="ticarivehizmetsektoru">2. Ticari ve Hizmet Sektörü</h2>
                <br>
                <h3 class="standartcolor" id="ticarivehizmetsektoru-yapimarket">Yapı Market Rehberi</h3>
                <p>İlk rehberimiz Yapı Market. Yapı marketlerde satılan ürünler, Garry's Mod'un temel eşyaları
                    olan
                    Physic Gun ve Tool Gun ile ilgilidir. Bu eşyalar, oyuncuların inşaat ve yapı işlemlerinde
                    kullanmaları gereken olmazsa olmaz malzemelerdir. Dolayısıyla, bu eşyaları edinmek isteyen
                    her
                    oyuncu, mutlaka yapı market esnafından alışveriş yapmak zorundadır. Bu nedenle, yapı market
                    mesleği hem sürekli müşteri trafiği sağlayan hem de rol yapmaya oldukça müsait bir meslek
                    grubudur. Oyuncularla sürekli etkileşimde olacağınız bu meslek, şehrin yapı ihtiyaçlarını
                    karşılamada önemli bir rol oynar.</p>

                <h4 class="standartcolor" id="ticarivehizmetsektoru-yapimarket-urunleri">Yapı Market Ürünleri</h4>
                <p>Yapı marketlerde, oyuncuların inşaattan güvenliğe kadar çeşitli ihtiyaçlarını
                    karşılayabilecek
                    ürünler satılmaktadır. İşte yapı markette bulabileceğiniz ürünlerin listesi ve kısa
                    açıklamaları:</p>

                <ul class="list-group">
                    <li class="list-group-item">
                        <strong class="
Fatal error: Uncaught Error: Call to undefined function randomBSColor() in /app/src/layouts/darkrp-kariyer.esnaf.php:141
Stack trace:
#0 {main}
  thrown in /app/src/layouts/darkrp-kariyer.esnaf.php on line 141
